html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #FC5E03;
    background-image: url("https://i.ytimg.com/vi/vzkv8Nz4CE4/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.header{
    color:#FC5E03;
    font-family: 'Bungee Inline', cursive;
    font-size: 50px
}
